.post__item__wrapper {
    border: 0.3rem solid lightgray;
    margin: 1rem;
    color: black;
    background: gray;
}


.post__item > a {
    text-decoration: none;
    color: black;
}

.post__item__header {
    color: whitesmoke;
    margin-left: 1rem;
}

.post__item__body {
    background: whitesmoke;
    padding: 1rem;
}

.post__item__extra_info {
    text-align: right;
}

.post__item__extra_info > span {
    display: block;
}